name: CI

on:
  push:

jobs:
  test:
    strategy:
      matrix:
        name: [a]
        runs-on:
          - brioche-dev-builder-aarch64-linux
          - brioche-dev-builder-x86_64-linux
    name: Test setup-brioche [${{ matrix.name }}, ${{ matrix.runs-on }}]
    runs-on: brioche-dev-builder-linux-aarch64
    steps:
      - run: echo hi && uname -a
      - run: sudo apt-get update && sudo apt-get install -y xz-utils openssh-client
      - name: Setup Brioche
        uses: brioche-dev/setup-brioche@e14e8b60eaec3651837cdc6a6015c80c0cf45b33
        with:
          version: nightly
          install-bin-dir: '$HOME/setup-brioche/bin'
          install-root: '$HOME/setup-brioche/install-root'

      - name: Verify Brioche installation
        run: |
          echo "$PATH"
          whereis brioche
          ls ~
          ls -lR ~/setup-brioche

          brioche --version
      - name: Sleep
        run: sleep 30
