name: CI

on:
  push:

jobs:
  test-setup-brioche:
    name: Test setup-brioche
    runs-on: ubuntu-latest
    steps:
      - name: Setup Brioche
        uses: brioche-dev/setup-brioche@e14e8b60eaec3651837cdc6a6015c80c0cf45b33
        with:
          version: nightly
          install-bin-dir: '$HOME/setup-brioche/bin'
          install-root: '$HOME/setup-brioche/install-root'

      - name: Verify Brioche installation
        run: |
          echo "$PATH"
          whereis brioche
          ls ~
          ls -lR ~/setup-brioche

          brioche --version
